* {
  text-align: center;
}

h2 {
  color: orangered;
  font-family: 'ZCOOL XiaoWei', serif;
}

input {
  width: 100%;
  margin-bottom: 1%;
  margin-top: 1%;
  margin-left: auto;
  padding-left: auto;
  font-family: 'Libre Baskerville', serif;
}

.output {
  padding: 5%;
  width: 100%;

  float: right;
  text-align: right;
  margin-left: auto;
  padding-left: auto;
  box-shadow: 5px 5px 5px gray;
  font-family: 'Merienda', cursive;
}

button,
button a,
h3 {
  color:blueviolet;
  font-family: 'ZCOOL XiaoWei', serif;
}

h3 {
  padding: 1.5%;
}

.item {
  margin-bottom: 5%;
}

@media only screen and (min-width: 812px) {
  .row {
    display: flex;
    justify-content: center;
  }
}
